.DocSearch-Button-Container {
          display:none !important;
        }
        .DocSearch-Button-Keys {
          display:none !important;
        }
                .DocSearch-Button {
                  display: grid;
                  background-color: transparent !important;
                  color: white !important;
                  place-content: center;
                  padding: 0.5rem !important;

                  margin:0 !important;
                  margin-left:1.2rem !important;
                  height:auto !important;
                  width: auto !important;
                }
        .DocSearch-Button svg {
          width:1.5rem;

          color:black;
          display:block;

        }

        .dark .DocSearch-Button svg {
         color: white; 
        }
